@charset "UTF-8";

body{
    font-family:"Lato";
    color:#35B6BF;
    background-color:rgba(53,182,191,0.2);
    font-size:15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

h1#signup{
    text-align: center;
    text-transform: uppercase;
    font-size:30px;
    letter-spacing: 3px;    
    color:#35B6BF;
    margin-top:100px;
}

/*
    text-transform: uppercase;
    text-align: left;
    margin-left:auto;
    margin-right:auto;
    background-color:#F7E246;
    border-radius: 100px;
    width:70px;
    height:70px;
    text-indent: 30px;
    margin-top:100px;
    z-index: 1;
    font-size:40px;
    letter-spacing: 2px;
*/

input{
    border:none;
    border-bottom:1px solid #35B6BF;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    color:#FF785A;
    height:2em;
    font-size:15px;
    font-weight: 400;
    font-family:"Gibson";
    letter-spacing: 1px;
    display:block;
    z-index: 1;
}

text:focus, input:focus{
    outline: none;
}

input[type="text"], input[type="email"] {
    width: 250px;
}

input[type="password"] {
    width: 250px;
}


input::placeholder {
    color:#35B6BF;
    font-size:15px;
    font-weight: 100;
    font-family:"Gibson";
    letter-spacing: 1px;    
}


h2{
    font-weight: 100;
    font-size: 13px;
    text-align: center;
    margin-top: 35px;
}


form{
    background-color:white;
    width:30%;
    height:230px;
    margin: 0 auto;
    padding: 35px 50px;
    align-content: center;
}

button{
    background-color: transparent;
    border: none;
    text-decoration: none;
    margin-top:15px;
    text-transform: uppercase;
    font-size:60px;
    letter-spacing: 2px;
    color:#35B6BF;
    font-weight:900;
    margin-left: 25%;}

button:hover{
    color:#F7E246;
}

.inputarea{
    visibility:hidden;
}

h3{
    font-size: 100px;
    text-transform: uppercase;
    position:fixed;
    align-content: center;
    font-weight: 400;
    margin: -100px auto 0px;
}   

#my-canvas{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}